<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width">
	<title>对对联</title>
	<link rel="stylesheet" href="/Fort_files/style.css">
	<link rel="stylesheet" href="/Fort_files/fort.css">
	<style>
		.top-banner {
			background-color: #333;
		}

		.nav {
			margin-bottom: 30px;
		}

		.nav li.current a {
			background-color: #009DFF;
			color: #fff;
			padding: 10px;
		}

		.nav a {
			margin: 5px;
			color: #333;
			text-decoration: none;
		}
	</style>
	<script type="text/javascript" src="/Fort_files/fort.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
	<script type="text/javascript" src="/javascripts/validate-methods.js"></script>
	<script type="text/javascript" src="/javascripts/messages_zh.js"></script>
</head>

<body>
	<div class="form-wrapper">
		<div class="top">
			<div class="colors"></div>
		</div>
		<form role="form" id="form-edit">
			<div class="form">
				<div class="form-item">
					<input type="text" name="txt" required="required" placeholder="上联" autocomplete="off">
				</div>
				<div class="button-panel">
					<input type="submit" class="button" title="对下联" value="对下联">
				</div>
				<br>
				<div class="form-item">
					<p class="rlt" style="display:none;font-size: 22px;">
						上联：<span class="shang"></span>
						<br>
						<br>
						下联：<span class="xia"></span>
					</p>
				</div>
			</div>
		</form>
	</div>
	<div class="footer-banner" style="width:728px; margin:200px auto 0"></div>
	<script>
		solid();

		$('#form-edit').validate({
			rules: {
				txt: {
					required: true
				}
			},
			onkeyup: false,
			focusCleanup: true,
			success: "valid",
			submitHandler: function (form) {
				$(form).ajaxSubmit({
					type: 'post',
					url: '/seq2seq',
					success: function (data) {
						$('.rlt').css('display', 'block')
						$('.shang').text($('[name="txt"]').val())
						$('.xia').text(data)
					},
					error: function (XmlHttpRequest, textStatus, errorThrown) {
						alert(errorThrown);
					}
				});
			}
		})
	</script>



</body>

</html>